* {
  box-sizing: border-box;
  margin: 0;

}

body {
  background: linear-gradient(to right, #081b29, #112e42, #000a0ed5);
}

/* Common styling */
:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --gradient-skill: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 10rem 2rem;
}

a {
  text-decoration: none;
  color: #0f6eaded;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
  width: 100%;
  font-weight: 800;
  text-shadow: 10px 5px 8px rgb(0, 0, 0);
}

/* Navigation section */
header {
  position: fixed;
  min-height: 2rem;
  background: linear-gradient(to right, #081b29, #000a0e);
  opacity: 1;
  padding: 10px 40px;
  z-index: 10000;
  width: 100%;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.navigation a {
  font-size: 2.1rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.logo {
  font-size: 1.5rem;
  -webkit-text-stroke: .7px var(--main-color);
  font-family: 'Poppins', sans-serif;
}

/* Home section design */
.home-section {
  display: flex;
  align-items: center;
  padding: 0 9%;
}

.home-content {
  max-width: 70rem;
}

.home-section h1 {
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
  text-shadow: 3px 0 10px #c084fc;
}

.home-content p {
  max-width: 30rem;
  font-size: 1.4rem;
  margin: 2rem 0 4rem 0;
  color: #fff;
  text-shadow: 3px 0 10px #c084fc;
}

/* Resume button design */
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 10px;
  cursor: pointer;
  margin-top: -30px;
  width: 15rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .6s;
  background: var(--main-color);
}

button:hover {
  color: var(--bg-color);
}

button:hover::before {
  width: 100%;
}

/* Contact icons design */
.contact-icon {
  position: absolute;
  bottom: 1.15rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.contact-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: transparent;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  font-size: 2rem;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
}

.contact-icon a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100px;
  background: var(--main-color);
  z-index: -1;
  transition: .6s;
}

.contact-icon a:hover {
  color: var(--bg-color);
}

.contact-icon a:hover::before {
  width: 100%;
}

/* Profile image placeholder */
.image {
  width: 350px;
  height: 350px;
  margin: 5px auto;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(248, 131, 48);
  object-fit: cover;
  overflow: hidden;
  animation: shineEffect 2s infinite;
}

.image img {
  width: 100%;
  height: 100%;
}

/* Waving hand animation */
.wave {
  display: inline-block;
  animation: wave-animation 2s infinite;
  transform-origin: 70% 70%;
  /* Adjusts the rotation point to look like hand is waving */
  font-size: 4.3rem;
}

/* About section design */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me .wave {
  font-size: 2rem;
}

.about-me {
  max-width: 700px;
  padding: 30px;
  border: 2px solid rgb(23, 1, 1);
  font-size: 1.5rem;
  background: rgba(28, 47, 116, 0.251);
  color: #fff;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.489),
    0 0 19px rgba(255, 0, 255, 0.32),
    0 0 7px rgba(255, 255, 255, 0.562);
  margin: auto;
  text-shadow: 5px 5px 8px rgb(0, 0, 0);
}

/* Highlighted fonts styling */
.highlights {
  font-weight: 1000;
  font-size: 1.8rem;
  color: var(--main-color);
}

.highlights:hover {
  color: #fff;
  transition: color 0.3s ease;
  text-shadow: 0 0 5px #c084fc;
}

/* Skills section styling */
.skills-section-content {
  padding: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  height: inherit;
  color: rgb(205, 208, 255);
  background: var(--gradient-skill);
}

.skills-section-content img {
  max-width: 100px;
}

.skills-section h1 {
  text-align: center;
}

.icon {
  font-weight: 600;
  font-size: 2rem;
  padding: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 10px;
  background-color: rgba(44, 79, 108, 0.982);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.489),
    0 0 15px rgba(255, 0, 255, 0.32),
    0 0 5px rgba(255, 255, 255, 0.562);
  text-shadow: 10px 9px 8px rgba(0, 0, 0, 0.443);
  overflow: hidden;
}

.icon:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
  cursor: pointer;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: .6s;
  background: var(--gradient-skill);
}

.icon:hover::before {
  width: 100%;
}

/* Projects section styling */
.heading {
  text-align: center;
  margin-top: -90px;
  margin-bottom: 20px;
}

.projects-container {
  max-width: 800px;
  display: grid;
  gap: 30px;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
  background: var(--gradient-skill);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 350px;
  transition: transform 0.3s ease;
}


.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  max-width: 350px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  margin: 0 auto;
}


.project-card h3 {
  margin-top: 15px;
  font-size: 1.6rem;
  color: white;
  text-decoration: underline;
}

.project-card p {
  font-size: 0.95rem;
  line-height: 1.2rem;
  margin: 10px 0 35px;
  color: #c5c6c7;
}

.project-card a {
  text-decoration: none;
  padding: 2px 60px 0px 10px;
  border-radius: 5px;
  background-color: #081b29;
  color: #fff;
  transition: 0.2s ease;
  gap: 30px;
}

.project-card a:hover {
  background-color: #0e3c5d;
}

/* Animations (wave, typing, fade) */
.home-content .typing-text {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-stroke: .7px var(--main-color);
  font-size: 2.5rem;
  font-weight: 700;
  color: transparent;
  border-right: 2px solid #fff;
  animation: typing 2s steps(18, end) infinite alternate,
    blink 0.6s step-end infinite;
}

.fade-slide-up {
  opacity: 0;
  animation: fadeSlideUp 2.5s ease-out forwards;
}

@keyframes shineEffect {
  0% {
    box-shadow: 0 0 10px #00bfff;
  }

  50% {
    box-shadow: 0 0 30px #4169e1;
  }

  100% {
    box-shadow: 0 0 12px #1a1aff86;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }

  10% {
    transform: rotate(14.0deg);
  }

  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 19ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive styling */
@media(max-width:815px) {
  header {
    min-height: 3.5rem;
    padding: 5px 10px;
  }

  .navigation a {
    font-size: 1.8rem;
  }

  .navigation ul {
    gap: 10px;
  }

  h1 {
    font-size: 3.8rem !important;
  }

  h2 {
    font-size: 1.7rem !important;
  }

  button {
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
  }

  .download-btn {
    font-size: 0.8rem;
  }

  .home-content p {
    margin-top: -5px;
  }

  .highlights {
    font-size: 1.3rem;
  }

  .image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px auto;
    object-fit: cover;
  }

  .image img {
    width: 100%;
    height: 100%;
  }

  .about-me {
    max-width: 500px;
    padding: 5px;
    font-size: 1rem;
    margin: 0px 10px;
  }

  .skills-section-content img {
    max-width: 100px;
  }

  .skills-section-content {
    padding: 20px 20px;
  }

  .skills-section h1 {
    font-size: 1.9rem;
  }

  .icon {
    max-width: 110px;
    font-size: 1rem;
    padding: 4px;
  }

  .projects-container {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 10px;
  }

  .project-card {
    width: 100%;
    max-width: 90%;
    box-sizing: border-box;
  }

  .project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .project-info p {
    font-size: 1.2rem;
  }

  .project-card a {
    padding: 2px 30px 0px 10px;
    font-size: 0.7rem;
  }
}

@media (max-width:490px) {
  header {
    min-height: 3rem;
    padding: 4px 8px;
  }

  .navigation a {
    font-size: 1.2rem;
  }

  .navigation ul {
    gap: 10px;
  }

  h1 {
    font-size: 2.4rem !important;
  }

  h2 {
    font-size: 1.2rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }

  button {
    height: 1.5rem;
  }

  .wave {
    font-size: 2.3rem !important;
  }

  .image {
    height: 200px;
    width: 200px;
  }

  .home-content p {
    margin-top: 5px;
    font-size: 1rem;
  }

  .contact-icon {
    width: 130px;
    bottom: 1rem;
    gap: 5px;
  }

  .contact-icon a {
    width: 35px;
    height: 35px;
    font-size: 1.2rem;
  }

  .icon {
    max-width: 95px;
    font-size: 0.8rem;
    padding: 4px;
  }

  .icon img {
    width: 100%;
  }
}

@media (max-width: 340px) {
  header {
    min-height: 2rem;
  }

  .navigation a {
    font-size: 0.9rem;
  }

  .navigation ul {
    gap: 8px;
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 0.9rem !important;
  }

  h3 {
    font-size: 0.9rem !important;
  }

  button {
    height: 1.2rem;
    width: 8rem;
    font-size: 0.8rem;
  }

  .image {
    height: 150px;
    width: 150px;
  }

  .home-content p {
    margin-top: 5px;
    font-size: 0.8rem;
  }

  .about-me .wave {
    font-size: 0.9rem !important;
  }

  .highlights {
    font-size: 0.9rem;
  }

  .icon {
    max-width: 70px;
  }

  .contact-icon {
    width: 120px;
    bottom: 0.5rem;
    gap: 4px;
  }

  .contact-icon a {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .download-btn {
    font-size: 0.5rem;
  }
}